<h1>FAKER</h1>

<ul>
  <% @articles.each do |article| %>
  <li><h3><%= link_to article.title, article_path(article) %></h3>
    <p><%= article.content %></p>
    <%= link_to "Delete", article_path(article),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  </li>
  <br>
<% end %>
</ul>
